server/docker/src/nodered/flows.json
[
    {
        "id": "166eda0873a6c061",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "15cc2616692eef06",
        "type": "mqtt-broker",
        "name": "test",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2727525e87659a92",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "local",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://10.0.10.2:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "314c89422e5f08a5",
        "type": "inject",
        "z": "166eda0873a6c061",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "22",
        "payloadType": "num",
        "x": 310,
        "y": 120,
        "wires": [
            [
                "207be064174feea5"
            ]
        ]
    },
    {
        "id": "207be064174feea5",
        "type": "influxdb out",
        "z": "166eda0873a6c061",
        "influxdb": "2727525e87659a92",
        "name": "meter-testdb",
        "measurement": "testdb",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "iei",
        "bucket": "meter",
        "x": 550,
        "y": 120,
        "wires": []
    },
    {
        "id": "bc8ccd6402a7f518",
        "type": "mqtt in",
        "z": "166eda0873a6c061",
        "name": "",
        "topic": "Try/MQTT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "15cc2616692eef06",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 220,
        "wires": [
            [
                "3d47385d24cf3c0c"
            ]
        ]
    },
    {
        "id": "3d47385d24cf3c0c",
        "type": "debug",
        "z": "166eda0873a6c061",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 240,
        "wires": []
    },
    {
        "id": "86b763ea3b10f993",
        "type": "aedes broker",
        "z": "166eda0873a6c061",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 210,
        "y": 60,
        "wires": [
            [],
            []
        ]
    }
]